<form class="form-inline" action='/bookings' method="get">

<div class="form-group search-form-home-page">
    <div class="input-group pr-2">
    <input type="text" class="form-control simple-form-input" style="color: gray;" id="inlineFormInputGroupUsername2" name="city" placeholder="Location or Category">
  </div>
  <div class="search-button ">
          <input type="submit" value="Search" class="btn-flat btn-home-page">
  </div>

</div>
</form>



